*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: blanchedalmond;
}

body {
    background-color: lightgreen;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10%;
}
  
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

